@import url('https://fonts.googleapis.com/css?family=Nunito');


@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Salome";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Salome"), url("/src/fonts/salome-webfont.woff2") format("woff2"), url("/src/fonts/salome-webfont.woff") format("woff");
}

@font-face {
  font-family: "Silka";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Silka"), url("/src/fonts/silka-regular-webfont.woff2") format("woff2"), url("/src/fonts/silka-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "Silka";
  font-weight: 700;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Silka"), url("/src/fonts/silka-bold-webfont.woff2") format("woff2"), url("/src/fonts/silka-bold-webfont.woff") format("woff");
}



* {
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

h1{
  font-size: 200%;
}
h2{
  font-size: 162.5%;
}
h3{
  font-size: 125%;
}
h1, h2, h3{
  font-family: Salome, serif;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  @apply bg-beige text-center;

}

input,
textarea,
button,
select {
  font-family: inherit;
}

.frosted-glass {
  -webkit-backdrop-filter: blur(8px); /* Safari 9+ */
  backdrop-filter: blur(8px); /* Chrome and Opera */
  box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 15%);
  background-color: rgba(228, 228, 228, 0.062);
}

.form {
  display: flex;
  flex-direction: column;
}

.text-field--error {
  border: solid 0.1rem rgb(144, 69, 69);
}

.button {
  @apply px-24 py-2 my-4 text-black bg-beige border-black border-2 inline-block;
  font-size: 125%;
  font-family: Silka, serif;
  font-weight: 700;
}



.button:hover {
  cursor: pointer;
}

.button--inverted {
  @apply text-beige bg-black border-beige;
}

.narrow-centered{
  max-width: 80rem;
  @apply mx-auto;
}

img{
  @apply w-full h-full;
}

@screen md{

  html {
    font-size: 16px;
  }

  h1{
    font-size: 400%;
  }
  h2{
    font-size: 250%;
  }
  h3{
    font-size: 200%;
  }
}