.footer-container{
    @apply text-beige bg-black;
}
.kontakt-component{
    @apply flex flex-nowrap;
    min-width:0;
}
.kontakt-component__icon, .kontakt-component__name{
    flex-basis: 3rem;
}
.kontakt-container{
    @apply items-center flex-col flex;
}
.kontakt-component__name{
    @apply whitespace-nowrap;
}
.kontakt-list{
    @apply inline-block;
}
.footer-container__copyright{
    font-size: 75%;
}