.card{
    @apply w-full bg-black text-beige flex flex-col;
}
.card__inverted{
    @apply flex-col-reverse;
}
.cards{
    @apply flex gap-4 flex-wrap mb-16;
}
.card__text,.card__image{
    flex: 0 0 50%;
    height:50%;
}
.card__text{

    @apply flex flex-col items-center justify-center;
}

@screen md {
    .cards{
        @apply flex-nowrap
    }
    .card{
        @apply w-1/2;
    }
    .main-image {
        width: 100%;
    }
    .weekly-menu{
        background-color: black;
        margin-top: 2em;
        padding: 2em;
        @apply bg-black text-beige;
    }
    .weekly-menu__name, .weekly-menu__description {
        @apply bg-black text-beige;
    }
}
