
button {
    outline: black solid 2px;
    padding: 0.1em 0.4em;
    text-align: center;
    border-radius: 0;
    color: black;
}

.button--light {
    background-color: black;
    outline: #EEEAE1 solid 2px;
    padding: 0.1em 0.4em;
    text-align: center;
    border-radius: 0;
    color: #EEEAE1;
}
