.menu__logo{
    font-size: 300%;
    font-family: Nunito, sans-serif;
}

.navigation-menu {
    @apply overflow-hidden relative hidden ;
    font-family: Nunito, sans-serif;
    font-size: 162.5%;
}


.navigation-list {
    @apply w-full flex flex-col text-center justify-between;
}

.navigation-list li {
    list-style-type: none;
    text-align: center;
}

.navigation-list a {
    @apply inline-block;
}


.hamburger-icon {
    cursor: pointer;
    @apply p-8 text-right;
}


#menu-toggle {
    @apply hidden;
}


#menu-toggle:checked + .navigation-menu{
    @apply block;
}

.menu__logo, .hamburger-icon{
    flex-basis: 50%;
}
.navigation-menu{
    flex-basis:100%
}
.menu-container{
    @apply flex justify-between flex-wrap ;
}
.menu__logo{
    @apply text-left py-8;
}

.navbar-container {
    @apply  text-black bg-beige w-full;
}

@screen md {
    .navigation-menu {
        @apply items-center flex;
    }

    .navigation-list {
        @apply flex-row flex;
    }

    .hamburger-icon {
        @apply hidden
    }

    #menu-toggle:checked + .navigation-menu{
        @apply flex
    }

    .menu-container {
        justify-content: space-between;
        align-items: center;
    }

    .navbar-container {
        @apply text-beige bg-black w-full;
    }
    .navigation-menu{
        flex-basis:50%
    }
}